html, body {
	margin: 0;
	padding: 0;
    background: #E1341E !important;
}

.info{
    text-align:center;
    color: #FFFFFF;
}

.gameList{
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

.blog{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border: 2px solid blue;
    border-style: inset;
    border-radius: 5px;
    overflow: hidden;
    padding:10px;
}

.post{
    border: 2px solid blue;
    border-style: inset;
    border-radius: 5px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 0.5em;
}

.code {
    background-color: dimgrey;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Courier New;
    font-size: 90%;
    padding-left: 2em;
    white-space: pre;
    line-height: 0.8em;
}

.date{
    color: darkslategray;
    font-style: italic;
}

img{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}