html, body {
	margin: 0;
	padding: 0;
    background: #E1341E !important;
}

.info{
    text-align:center;
    color: #FFFFFF;
}

.gameList{
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
}